{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NSF Spell Bee Contest</title>

    
    

        <link rel="stylesheet" type="text/css" href="/static/css/custom-style.css">
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/_all-skins.min.css?v=eKVNIv080-6nGXB6ZQ24VzBXT3YjDOMKjCn4qWipJLg" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/AdminLTE.css?v=43DEoM0PtNo2VvC0wwsMFG0q-y2FRA6uosvV1sLA6Fg" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/all.css?v=RWTIQTDHyoGZTvNJMyTGzIciI_RZtuip6VNqVg0S7Yw" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/bootstrap.min.css?v=peKUUGTE2GeeuP9SeB6i3vHVt7v_w2f06yjVgPmByWA" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/bootstrap-colorpicker.min.css?v=WiW45-2MJLXlf9nO-kdeRR8mV-OUBMF6VwS_4_IX2Fc" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/bootstrap-datepicker.min.css?v=I4gvabvvRivuPAYFqevVhZl88-vNf2NksupoBxMQi04" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/bootstrap-datetimepicker.min.css?v=ff4Vuur4aYrm0ZOAEC_me1LBOcid7PJ5oP9xxvJ0AKQ" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/bootstrap-timepicker.css?v=iwNM4hMbSGsmQ0qMAUf1uTiAMDudpYGk_fQIXegjJPw" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/dataTables.bootstrap.min.css?v=tfbRRzRYttG6KTqyNS1b7TRUCCqxBqFf-VFr_LV3UU0" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/daterangepicker.css?v=NPXyvq7EqeAnvoj_wUpsS7N27ha5u98K9a2tix65V14" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/fontfamily.css?v=kV7qW2LE5QIgil9Ek-SODvcOQ0_uaTdn7mELfhzA_4I" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/fullcalendar.min.css?v=vWvnnaz5_ulEW60XmfPPlH2JkBcUOP2wbTmmHWRHbUY" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/font-awesome.min.css?v=CrA0MTUO1ymGM-dmbo9mCqPmEk9SvHw-Ck6N8WcsAp8" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/ionicons.min.css?v=aJ95E7018VzKA-rpwSHglFmsMqA5f7DyyWalsABij-Y" />
        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/select2.min.css?v=xJOZHfpxLR_uhh1BwYFS5fhmOAdIRQaiOul5F_b7v3s" />

        <link rel="stylesheet" href="http://202.65.133.220:93/css/nsfcss/Dashboardstyle.css?v=TfAJswJTUjxkDzhT-1qQoQfMH_Z54TBKetjMgzgEItY" />
        <script src="http://202.65.133.220:93/js/nsfjs/jquery-1.10.2.js?v=BBOYRc4UFp6bnPrSLEqHnc5okUs4decRErKLr7-Wv1Y"></script>
        <script src="http://202.65.133.220:93/js/nsfjs/jquery.validate.js?v=FzP9gvYFMS38VhjICl8evbq3kKwImqalV-rTywbaaKI"></script>

    
</head>
<style type="text/css">
    .table-responsive{
    overflow-x: hidden;
}
.wrapper{
    overflow: unset !important;
}
.skin-green-light .main-header .navbar{
      background: linear-gradient(-45deg,#5cb949 93%, #ffffff40 10%)
     }
     .skin-green-light .main-header .navbar .nav>li>a:hover, .skin-green-light .main-header .navbar .nav>li>a:active, .skin-green-light .main-header .navbar .nav>li>a:focus, .skin-green-light .main-header .navbar .nav .open>a, .skin-green-light .main-header .navbar .nav .open>a:hover, .skin-green-light .main-header .navbar .nav .open>a:focus, .skin-green-light .main-header .navbar .nav>.active>a {
    background: rgb(255, 255, 255);
    color: #5bb948;
    border-radius: 50px;
}
.navbar-brand img{
    width: 450px;
    padding: 5px;

}
.page-title{
    background: #5cb949;
}
</style>
<body class="hold-transition skin-green-light">
<div class="wrapper">
    <header class="main-header">



        <nav class="navbar navbar-static-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> <img src="/static/img/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/">Dashboard</a></li>
                  {% if request.user.is_superuser %}
                  <li><a href="/erase_results/">Erase Results</a></li>
                    <li><a href="/students/">Students</a></li>
                    <li><a href="/words/">Word Bank</a></li>
                {% endif %}
                        <li ><a href="/contests/">Contest</a></li>
                        <li class="active"><a href="/all_results/">Scores</a></li>
                    <li><a href="/logout/">Sign out</a></li>

                </ul>
            </div>



        </nav>

        <!--div class="main-menu">
           <nav class="navbar-custom navbar-expand-lg">
            <div class="container">
                <ul class="navbar-nav custom">
                    <li class="nav-item active"><a href="#" class="nav-link" title="Events"><span class="iconfont icon-quaterly"></span></a></li>
                    <li class="nav-item"><a href="#" class="nav-link" title="Phases"><span class="iconfont icon-phases"></span></a></li>
        
                   <li class="nav-item"><a href="#" class="nav-link" title="Roles"><span class="iconfont icon-roles"></span></a></li>
                   <li class="nav-item"><a href="#" class="nav-link" title="Users"><span class="iconfont icon-user"></span></a></li>
                   <li class="nav-item"><a href="#" class="nav-link" title="question Types"><span class="iconfont icon-questions"></span></a></li>
    

                </ul>
                <p class="page-title">Spell Bee</p>
                <p class="lastlog">Last login: 02/07/2019 13:19:37</p>
            </div>
            </nav>
        </div-->

    </header>
    <div class="pt-div"><p class="page-title">Spell Bee - Contest</p></div>
    


    
    <div class="content-wrapper" style="background-image:url('/static/img/spellbee-10.png');background-position-x:100%;background-position-y:80%;background-size:18%; background-repeat: no-repeat;">


<section class="container" >
    <div class="row">
      <div class="col-md-12">
        <div class="box box-solid" style="padding:10px;">
            <div class="box-body">
                    <div class="table-responsive">
                <h4>Senior Results</h4>
                <table class="table table-striped table-bordered" style="width:100%;font-size: 11px;" id='results'>
                  <thead>
                    <tr>
                     <th colspan="1"></th>
                      <th colspan="2" style='text-align:center'>Phase I</th>
                      <th colspan="10" style='text-align:center'>Phase II</th>
                      <th colspan="1"></th>
                    </tr>
                    <tr>
                      <th>Student Name</th>
                            <th>Phase I Questions</th>
                            <th>Phase I Score</th>
                            <th>Round I Question</th>
                            <th>Round I Response</th>
                            <th>Round I Result</th>
                            <th>Round II Question</th>
                            <th>Round II Response</th>
                            <th>Round II Result</th>
                            <th>Round III Question</th>
                            <th>Round III Response</th>
                            <th>Round III Result</th>
                            <th>Phase II Score</th>
                            <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                     {% for answer in senior_results %}
                            <tr>
                            <td>{{ answer.0 }}</td>
                            <td>{{ answer.1 }}</td>
                            <td>{{ answer.2 }}</td>
                            <td>{{ answer.3 }}</td>
                            <td>{% if answer.5 == 'True' %}<p style="color:green;">{{ answer.4 }}</p>{%else%}<p style="color:red;">{{ answer.4 }}</p>{% endif %}</td>
                            <td>{% if answer.5 == 'True' %} 1{%elif answer.5 == 'NO' %}<p></p>{%else%} 0{% endif %}</td>
                            <td>{{ answer.6 }}</td>
                            <td>{% if answer.8 == 'True' %}<p style="color:green;">{{ answer.7 }}</p>{%else%}<p style="color:red;">{{ answer.7 }}</p>{% endif %}</td>
                            <td>{% if answer.8 == 'True' %} 1{%elif answer.8 == 'NO' %}<p></p>{%else%} 0{% endif %}</td>
                            <td>{{ answer.9 }}</td>
                            <td>{% if answer.11 == 'True' %}<p style="color:green;">{{ answer.10 }}</p>{%else%}<p style="color:red;">{{ answer.10 }}</p>{% endif %}</td>
                            <td>{% if answer.11 == 'True' %} 1{%elif answer.11 == 'NO' %}<p></p>{%else%} 0{% endif %}</td>
                            <td>{{ answer.12}}</td>
                            <td>{{ answer.13 }}</td>
                            </tr>
                        {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <h4> Junior Results</h4>
                <table class="table table-striped table-bordered" style="width:100%;font-size: 11px;" id='results1'>
                  <thead>
                    <tr>
                     <th colspan="1"></th>
                      <th colspan="2" style='text-align:center'>Phase I</th>
                      <th colspan="10" style='text-align:center'>Phase II</th>
                      <th colspan="1"></th>
                    </tr>
                    <tr>
                      <th>Student Name</th>
                            <th>Phase I Questions</th>
                            <th>Phase I Score</th>
                            <th>Round I Question</th>
                            <th>Round I Response</th>
                            <th>Round I Result</th>
                            <th>Round II Question</th>
                            <th>Round II Response</th>
                            <th>Round II Result</th>
                            <th>Round III Question</th>
                            <th>Round III Response</th>
                            <th>Round III Result</th>
                            <th>Phase II Score</th>
                            <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                     {% for answer in junior_results %}
                            <tr>
                            <td>{{ answer.0 }}</td>
                            <td>{{ answer.1 }}</td>
                            <td>{{ answer.2 }}</td>
                            <td>{{ answer.3 }}</td>
                            <td>{% if answer.5 == 'True' %}<p style="color:green;">{{ answer.4 }}</p>{%else%}<p style="color:red;">{{ answer.4 }}</p>{% endif %}</td>
                            <td>{% if answer.5 == 'True' %} 1{%elif answer.5 == 'NO' %}<p></p>{%else%} 0{% endif %}</td>
                            <td>{{ answer.6 }}</td>
                            <td>{% if answer.8 == 'True' %}<p style="color:green;">{{ answer.7 }}</p>{%else%}<p style="color:red;">{{ answer.7 }}</p>{% endif %}</td>
                            <td>{% if answer.8 == 'True' %} 1{%elif answer.8 == 'NO' %}<p></p>{%else%} 0{% endif %}</td>
                            <td>{{ answer.9 }}</td>
                            <td>{% if answer.11 == 'True' %}<p style="color:green;">{{ answer.10 }}</p>{%else%}<p style="color:red;">{{ answer.10 }}</p>{% endif %}</td>
                            <td>{% if answer.11 == 'True' %} 1{%elif answer.11 == 'NO' %}<p></p>{%else%} 0{% endif %}</td>
                            <td>{{ answer.12}}</td>
                            <td>{{ answer.13 }}</td>
                            </tr>
                        {% endfor %}
                  </tbody>
                </table>
              </div>
              </div> 
            </div>
          </div>
      </div>


</div>

</section>



        </div>

        <footer class="main-footer">
            <p>
                &copy;2019-2020 NSF All rights
                <span style="float:right">Designed and developed by Orpine Inc.</span>
            </p>
        </footer>

    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/select2.full.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.inputmask.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.inputmask.date.extensions.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.inputmask.extensions.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/moment.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/daterangepicker.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap-datepicker.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap-colorpicker.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap-timepicker.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.slimscroll.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/icheck.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.dataTables.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/dataTables.bootstrap.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/fastclick.js"></script>
    <!--script src="http://202.65.133.220:82/Scripts/adminjs/adminlte.min.js"></script-->
    <!--script src="http://202.65.133.220:82/Scripts/adminjs/demo.js"></script-->
    <script src="http://202.65.133.220:82/Scripts/adminjs/fullcalendar.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap-datetimepicker.min.js"></script>
    <!--script src="http://202.65.133.220:82/Scripts/adminjs/cutomjs.js"></script-->

    <script src="/Scripts/moment.min.js"></script>
    <script src="/Scripts/moment-timezone.js"></script>


    <script src="/bundles/jqueryval?v=EsjaSTpSjnLl4OHGXeZiWNPvK9l5bgJU3H6nJPOBBWk1"></script>
    <script src='{% static "js/noty.js" %}'></script>


      
<script type="text/javascript">
    $(document).ready(function() {
    $('#results').DataTable();
$('#results1').DataTable();
    $('#datepicker').datepicker({
      autoclose: true
    });
     $('.select2').select2();
     $('#addBtn').on('click',function(){
        $(this).toggleClass('bg-green bg-red');
        $('#addBtn i').toggleClass('fa-plus fa-times');
        //fa fa-minus
     })
} );

    
</script>
    </div>    

        
</body>
</html>
