<div class="wrapper">
    <header class="main-header">



        <nav class="navbar navbar-static-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Events/Index"> <img src="http://202.65.133.220:93/images/nsfimg/left.jpg"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="index.html">Dashboard</a></li>
                	  <li><a href="SpellBee-1.html">Students</a></li>
                    <li class="active"><a href="SpellBee-2.html">Word Bank</a></li>
                    <li><a href="contest-select.html">Contest</a></li>
                    <li><a href="#">Sign out</a></li>

                </ul>
            </div>



        </nav>


    </header>
<div class="pt-div"><p class="page-title">Spell Bee - Word Bank</p></div>
  <div class="content-wrapper" style="background-image:url('spellbee-10.png');background-position-x:100%;background-position-y:80%;background-size:18%; background-repeat: no-repeat;">


    <section class="content" >
  

    </section>
  </div>
</div>    
