    
    <script src="http://202.65.133.220:93/js/nsfjs/jquery-1.10.2.js?v=BBOYRc4UFp6bnPrSLEqHnc5okUs4decRErKLr7-Wv1Y"></script>
    <script src="http://202.65.133.220:93/js/nsfjs/jquery.validate.js?v=FzP9gvYFMS38VhjICl8evbq3kKwImqalV-rTywbaaKI"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/select2.full.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.inputmask.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.inputmask.date.extensions.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.inputmask.extensions.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/moment.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/daterangepicker.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap-datepicker.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap-colorpicker.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap-timepicker.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.slimscroll.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/icheck.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/jquery.dataTables.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/dataTables.bootstrap.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/fastclick.js"></script>
    <!--script src="http://202.65.133.220:82/Scripts/adminjs/adminlte.min.js"></script-->
    <!--script src="http://202.65.133.220:82/Scripts/adminjs/demo.js"></script-->
    <script src="http://202.65.133.220:82/Scripts/adminjs/fullcalendar.min.js"></script>
    <script src="http://202.65.133.220:82/Scripts/adminjs/bootstrap-datetimepicker.min.js"></script>
    <!--script src="http://202.65.133.220:82/Scripts/adminjs/cutomjs.js"></script-->

    <script src="/Scripts/moment.min.js"></script>
    <script src="/Scripts/moment-timezone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>


    <script src="/bundles/jqueryval?v=EsjaSTpSjnLl4OHGXeZiWNPvK9l5bgJU3H6nJPOBBWk1"></script>
